.mainAboutUs{
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: 2%;
  margin-bottom: 5%;

}

.containerAboutUs{
    text-align: center;
}
.containerParagraph{
    margin:auto;
    width: 25%;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
}

.containerParagraph p{
    color: white;
    text-align: center;
}

.containerPhotoMelvin{
    margin: auto;
    display: inline-block;
    width: 25%;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
}

.containerPhotoJose{
    display: inline-block;
    width: 25%;
    margin-left: 15%;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
}
.containerPhotoJose img{
    height: 280px;
}

.containerPerfil img{
    width: 50%;
    padding: 2%;
}

.containerNameMelvin h5, p{
    text-align: center;
    color: white;
    padding: 0%;
}
.iconPerfil{
    text-align: center;
}

.iconPerfil a{
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

    .containerParagraph{
        margin-left: 15%;
        width: 75%;
        border-top: 5px solid red;
        border-bottom: 5px solid green;
    }

    .containerPhotoMelvin{
        display: inline-block;
        width: 75%;
        margin-left: 15%;margin-bottom: 20px;
        border-top: 5px solid red;
        border-bottom: 5px solid green;
    }

    .containerPhotoJose{
        padding-top: 3.8%;
        display: inline-block;
        width: 75%;
        margin-left: 15%;
        border-top: 5px solid red;
        border-bottom: 5px solid green;
    }
}