.containerAside{
    width: 15%;
    margin-top: 7%;
    margin-left: 1%;
    margin-bottom: 2%;
    float: left;
}

@media (max-width: 880px) {

	.containerAside{
        width: 50%;
        margin-top: 7%;
        margin-left: 25%;
    }
}