.titleBOOK{
    text-align: center;
}

.titlePage{
    margin: auto;
}

.titlePage img{
    width: 250px;
}

.conataierBooks{
    text-align: center;
    margin-bottom: 5%;

}

.conataierDivBooks{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.bookCardContainer{
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
}

.btns{
    display:grid;
    width: auto;
    margin-top: 4%;
}

@media (max-width: 880px) {
   .bookCardContainer{
    width: 100%;
   }
 
    .btns{
        width: 40%;
		display: inline-block;

    }
}