.conataierBooks{
    display: inline-table;
    width: 100%;
    height: auto;
}

.conataierDivBooks{
    width: 85%;
    max-width: 100%;
    box-sizing: border-box;
    float: left;
}

.titlePage{
    text-align: center;    
}



@media (max-width: 880px) {
    .conataierDivBooks{
        width: 20%;
        max-width: 100%;
        box-sizing: border-box;
    }
}