.containerHeader{
    background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.079)
  );
    text-align: center;
    display: flex;
}

.logo{
    width: 10%;
}
.logo img {
    width: 100%;
    border: 5px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerNameLogo{
    margin: auto;
}

.containerNameLogo img{
    width: 600px;
}

.buscador{
    display: inline-flex;
}

.linkHeader{
    color: white;
    text-align: left;
    text-decoration: none;
}
.linkHeader.co{
    margin-left: 20%;
}


.containerLogoRD{
    margin-top: 10px;
}
.escudo {
    color: white;
    padding-bottom: 5%;
}
.escudo img{
    width: 50px;
}

@media (max-width: 880px) {
    .containerNameLogo img{
        width: 200px;
    }
    
}