.containerHome{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
}
.titlePage{
  margin-right: 500px;
  
}

.ctnBookHome{
  margin-left: 22%;
  margin-right: 20%;
}

.iconHome{
  display: flex;
	width: 50px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 50px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

  margin-left: 47%;

}