.Container-SearchB {
  display: flex;
 justify-content: center;
}

.from-control {
  
  width: 350px;
}

@media (max-width: 880px) {
  .inputSearch input{
    width: 200px;
  }

  .Container-SearchB {
    display: inline-block;
    margin-left: 15%;
    justify-content: center;
  }
}